# Coverage

Read depth per position for each sample was obtained during the `snakemake` pipeline.

The following script was used to generate a single dataframe recapitulating the coverage over 2-kb windows for all samples.

```
import pandas as pd
import numpy as np
import glob as glob

cov_files = glob.glob('../data/B*.sorted.depth.out')

start=1
by=1000
win=2000
R = []
for samplefile in cov_files:
    df = pd.read_csv(samplefile, sep = '\t', header = None, names = ['chrom','pos','cov'])
    sampleID = samplefile.split('/')[-1].split('.')[0]
    dgroup = df.groupby(['chrom']).rolling(window=win,on='pos')['cov'].mean()[start::by].reset_index()
    dgroup['sampleID'] = sampleID
    R.append(dgroup)
dR = pd.concat(R)

#dR.to_csv('getWindows.out')

for s in dR.sampleID.unique():
    dR[dR.sampleID == s].to_csv('..data/coverage/'+ s +'_2kb_win.out')
```

In [5]:
import pandas as pd
import seaborn as sns
import glob

In [8]:
list_df = []
for i in glob.glob('data/coverage/*'):
    df = pd.read_csv(i, index_col=0)
    list_df.append(df)

dR = pd.concat(list_df)
dR

       chrom       pos       cov sampleID
2       chrI      2001  133.4105      B10
3       chrI      3001   95.6150      B10
4       chrI      4001   65.2060      B10
5       chrI      5001   54.6660      B10
6       chrI      6001   74.1120      B10
...      ...       ...       ...      ...
12153  chrmt  12153001   39.1455       O9
12154  chrmt  12154001   20.7335       O9
12155  chrmt  12155001   17.9610       O9
12156  chrmt  12156001    3.5565       O9
12157  chrmt  12157001    2.9775       O9

[3418968 rows x 4 columns]

In [9]:
dR[['cov']].mean()

cov    61.140297
dtype: float64